@import "tailwindcss";

:root {
  --background: #f6f7f8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f7f8;
  }
}

body {
  background: var(--background);
  color: #000000cc;
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}
